<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #522583;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand-center ms-3" href="#">
      <img src="/assets/logo.png" width="60" height="60" alt="">
    </a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link ms-3" style="color: white;" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <div class="btn-group" dropdown>
        <button id="button-animated"dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-animated" style="background-color: transparent; border: none;">
          Inventário de Equipamentos <span class="caret"></span>
        </button>
        <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right text-center" role="menu" aria-labelledby="button-animated">
          <li role="menuitem"><a class="dropdown-item" href="#">Desktops e Notebooks</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Impressoras</a>
          </li>
          <li role="menuitem"><a class="dropdown-item" href="#">Ativos Diversos</a></li>
        </ul>
      </div>
      <li class="nav-item">
        <a class="nav-link" style="color: white;" href="#">Gerenciamento de Equipamentos</a>
      </li>
      <div class="btn-group" dropdown>
        <button id="button-animated"dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-animated" style="background-color: transparent; border: none;">
          Administração <span class="caret"></span>
        </button>
        <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right text-center" role="menu" aria-labelledby="button-animated">
          <li role="menuitem"><a class="dropdown-item" href="#">Contratos</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Materias de TI</a>
          </li>
          <li role="menuitem"><a class="dropdown-item" href="#">Controle de Fornecedores</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">FAQ TI</a></li>
        </ul>
      </div>
    </ul>
  </div>
  
  <div class="btn-group" dropdown>
    <button id="button-animated"dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
      aria-controls="dropdown-animated" style="background-color: transparent; border: none;">
      <img class="rounded-circle" alt="avatar1" src="assets/andy.jpg" width="50" height="50" />
      Anderson Vallada Viana <span class="caret"></span>
    </button>
    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right text-center" role="menu" aria-labelledby="button-animated">
      <li role="menuitem"><a class="dropdown-item" href="#">Minha Conta</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Administração</a>
      </li>
      <li role="menuitem"><a class="dropdown-item" href="#">Logout</a></li>
    </ul>
  </div>
    
</nav>